.dice-roller {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    color: orange;
}

@media (max-width: 600px) {
    .dice-roller {
        padding: 0.5rem;
    }
}

.dice-roller__dice-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
}

.dice-roller__dice-button {
    flex: 1 1 calc(25% - 0.5rem);
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 400px) {
    .dice-roller__dice-button {
        flex: 1 1 calc(50% - 0.5rem);
    }
}

.dice-roller__modifier {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
}

.dice-roller__modifier-controls {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.dice-roller__modifier-field,
.dice-roller__modifier-button {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    width: 25%;
}

.dice-roller__formula {
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
}

.dice-roller__formula-field {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.dice-roller__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
}

.dice-roller__roll-button {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.dice-roller__adv-dis-buttons {
    display: flex;
    gap: 1rem;
}

.dice-roller__advantage-button,
.dice-roller__disadvantage-button {
    flex: 1;
    padding: 0.5rem;
    cursor: pointer;
}

.dice-roller__last-roll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dice-roller__last-roll-result {
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
}

.dice-roller__last-roll-section {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.dice-roller__last-roll,
.dice-roller__last-roll-buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dice-roller__reroll-button,
.dice-roller__history-button {
    padding: 0.5rem;
    cursor: pointer;
}