.dice-roller {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    color: #ffa500;
    width: 100%;
}

@media (max-width: 600px) {
    .dice-roller {
        padding: 0.5rem;
    }
}

.dice-roller__dice-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
}

.dice-roller__dice-button {
    flex: 1 1 calc(25% - 0.5rem);
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 400px) {
    .dice-roller__dice-button {
        flex: 1 1 calc(50% - 0.5rem);
    }
}

.dice-roller__modifier {
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
} 

.dice-roller__modifier-controls {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.dice-roller__adv-dis-buttons {
    display: flex;
    gap: 1rem;
}

.dice-roller__modifier-buttons {
    display: flex;
    gap: 1rem;
}

.dice-roller__modifier-button,
.dice-roller__advantage-button,
.dice-roller__disadvantage-button {
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
}

.dice-roller__modifier-formula {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 0.5rem;
    width: 100%;
}

.dice-roller__formula-field {
    padding: 0.5rem;
    width: calc(80% - 0.5rem);
}

.dice-roller__modifier-field {
    padding: 0.5rem;
    width: calc(20% - 0.5rem);
}

.dice-roller__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 1rem);
}

.dice-roller__roll-button {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Last roll section */

.dice-roller__last-roll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dice-roller__last-roll-result {
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
}

.dice-roller__last-roll-section {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.dice-roller__last-roll,
.dice-roller__last-roll-buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dice-roller__reroll-button,
.dice-roller__history-button {
    padding: 0.5rem;
    cursor: pointer;
}

.dice-roller__last-roll-details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.dice-roller__roll-item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.roll-history-popup .close-popup {
    position: absolute;
    top: -30px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.dice-icon-with-result {
    position: relative;
    display: inline-block;
}

.dice-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
    pointer-events: none;
}
