.create-character-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.footer {
    width: 100%;
    margin-top: auto;
}

.character-form {
    margin: auto; /* Центруємо форму */
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.character-form h2 {
    margin-bottom: 1em;
    color: #333;
}

.character-form__field {
    margin-bottom: 15px;
}

.character-form__field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.character-form__field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navigation-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.navigation-button:hover {
    background-color: #0056b3;
}

/* Адаптивність */
@media (max-width: 768px) {
    .character-form {
        padding: 15px;
    }

    .character-form h2 {
        font-size: 1.5rem;
    }

    .character-form__field input {
        font-size: 1rem;
    }

    .navigation-button {
        font-size: 1rem;
    }
}
