.user-profile {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333;
  position: relative; /* Переконуємося, що компонент має відносне позиціонування */
  z-index: 1; /* Піднімаємо компонент над іншими елементами */
}

.user-profile__avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-profile__info {
  flex: 1;
}

.user-profile__logout {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

.user-profile__logout:hover {
  background-color: #e60000;
}
