.system-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.system-modal__content {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.system-modal__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.system-modal__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.system-modal__item {
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.system-modal__item:hover {
  box-shadow: 0 4px 10px rgba(255, 165, 0, 0.5);
}

.system-modal__close {
  margin-top: 15px;
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: #555;
}

.system-modal__sublist {
  list-style: none;
  padding: 10px;
}

.system-modal__subitem {
  padding: 5px;
  margin: 5px 0;
  color: white;
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.system-modal__subitem:hover {
  color: black;
  background-color: #ffa500;
}
